@charset "UTF-8";

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /*padding-top: 150px; */
  
}
/* .inner {
  width: 1200px;
  margin: 0 auto;
  
} */
img {
 /* display: block; */
}
a {
  text-decoration: none;
}

#container{
	min-width: 340px;
	max-width: 600px;
	margin: 0 auto;/* 가운데 정렬 */
}
#join{

	/* padding: 15px; */
	padding: 50px;
}

#join .form-group{
	font-size: 20px;
	margin-bottom: 10px;
	
}
#join .form-group label{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	
}
#join .form-group input[type=text],
#join .form-group input[type=email],
#join .form-group input[type=password]
{
	/*가로 사이즈 가변  */
	width:calc(100% - 16px);
	padding: 6px;
	font-size: 17px;
	/* border: 3px solid #999; */
	border: 2px solid #A4835F;
	border-radius: 10px;
}


#join #bornYear{
  width: 144.8px;
	font-weight: normal;
	display: inline;
}
#join #bornMonth{
  width: 144.8px;
	font-weight: normal;
	display: inline;
}
#join #bornDate{
  width: 144.8px;
	font-weight: normal;
	display: inline;
}
#join .form-group .radio{
	font-weight: normal;
	display: inline;
}
#join .form-group .radio input{
	width: 25px;
	height: 25px;
}


#join button {
  margin-top: 30px;
	width: 100%;
	font-size:23px;
	padding: 10px;
	background-color: #A4835F;
	color: #fff;
	border: 2px solid #64492d;
   	border-radius: 10px;
  	cursor: pointer;
}



/* #container {
  background-color: yellowgreen;
} */
