@charset "UTF-8";

/* 카테고리 영역 */
.categories_box{
    margin: 30px 0 25px 10px;
}

.categories_box:after {
    clear: both;
    content: "";
    display: block;
}

.categories_box li {
    float: left;
    padding-right: 5px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}